<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Forget Password</title>
</head>
<body>
<div align="center">


<h3 style="color:green" th:text="${session.pass}"></h3>
	<h3 style="color:red" th:text="${session.fail}"></h3>
	<span th:text="${@generalService.removeMessage()}"></span>

  <form action="/forget-password" method="post">
        <label>Email:</label>
        <input type="email" name="email" required>
        <button type="submit">Send OTP</button>
    </form>

</div>
</body>
</html>